<!DOCTYPE html>
<%= stylesheet 'bootstrap' %>
<%= javascript 'bootstrap' %>
<%= javascript 'https://code.jquery.com/jquery-3.5.1.min.js' %>
<html>
  <head>
    <title>Recipe Repository</title>
    <%= favicon %>
  </head>
  <body>
    <h1 class="display-1">Recipe Repository</h1>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="nav navbar-nav">
        <a class="nav-link <%= "active" if current_page?(routes.root_path) %>" href=<%= routes.root_path %>>
          Home
        </a>
        <a class="nav-link <%= "active" if current_page?(routes.recipes_path) %>" href=<%= routes.recipes_path %>>
          Recipes
        </a>
        <a class="nav-link <%= "active" if current_page?(routes.new_recipe_path) %>" href=<%= routes.new_recipe_path %>>
          Submit
        </a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>